<div class="flex flex-col w-full">
    <a href="{% url 'users:github-login' %}" class="w-full border-gray-700 bg-gray-900 hover:bg-white hover:text-gray-900 transition-colors border text-center rounded py-5 font-medium mb-2  text-white"> <i class="fab fa-github mr-1"></i> Continue with GitHub</a>
    <a href="#" class="w-full border-yellow-300 bg-yellow-300 hover:bg-white hover:text-yellow-400 transition-colors border text-center rounded py-5 font-medium mb-2  text-yellow-800"> <i class="fas fa-comment mr-1"></i> Continue with Kakao</a> 
</div>