{% extends 'base.html' %}

{% block title %}
    Search
{% endblock title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <h2>Search!</h2>


    <form method="get" action="{% url "rooms:search" %}">
        {% comment %} <table> {% endcomment %}
        {{form.as_p}}
        {% comment %} </table> {% endcomment %}
        <button>Search</button>
    </form>

    <h2>Results</h2>

    <div class="rooms_container">
        {% for room in rooms %}
            <div class="room">{{room.name}} || {{room.price}}</div>
        {% endfor %} 
    </div>


{% endblock content %}