{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}" />
    <link rel="apple-touch-icon" href="{% static "favicon.png" %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %} | Nbnb</title>
</head>
<body class="text-gray-800">
    <header class="container max-w-full border-b border-gray-300 flex items-center justify-between px-6 h-20">
        <div class="flex items-center">
            <a class="mr-6" href="{% url "core:home" %}"><img class="w-8" src="{% static 'airbnb_logo.svg' %}" alt="logo" ></a>
            {% block search-bar %}
                <form method="get" action="{% url "rooms:search" %}">
                    <input class="border px-2 py-1 rounded hover:shadow-md transition-shadow" type="text" name="city" id="" placeholder="Search">
                </form>
            {% endblock search-bar %}
        </div>    
        {% include "partials/nav.html" %}    
    </header>  
    {% block content %} {% endblock %}
    {% include "partials/footer.html" %}
     
</body>
</html>