{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}" />
    <link rel="apple-touch-icon" href="{% static "favicon.png" %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %} | Nbnb</title>
    <style>
        /* * {
            font-family: 'JetBrains Mono', monospace;
        } */

        /* input:checked + label {
            color: blue;
        }

        form ul li {
            list-style: none;
        }

        form div {
            display: flex;
            width: 400px;
            flex-direction: column;
        } */

    </style>
</head>
<body>
    <header>
        {% include "partials/nav.html" %}  
        {% block search-bar %}
            <form method="get" action="{% url "rooms:search" %}">
                <input type="text" name="city" id="" placeholder="Search">
            </form>
        {% endblock search-bar %}
    </header>  
    {% block content %} {% endblock %}
    {% include "partials/footer.html" %}
    
</body>
</html>